.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 0;
    margin: -8px -8px 0 -8px;
    border: 0;
}

.links { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.linkLi {
    padding: 1rem;
}